#footer{
      background-color: #1A1A1A;
      padding: 50px ;
      .foot{
            display: flex;

            p{
                  color: #A5A5A5;
                  span{
                        color: blue;
                  }
            }
      }
      
}